# HHP Data Analytics

In [3]:
import numpy as np # Linear algebra
import pandas as pd # Data processing, CSV file I/O (e.g. pd.read_csv)

import matplotlib.pyplot as plt  # Matlab-style plotting
# Make sure plot shows immediately
%matplotlib inline 

import seaborn as sns # Library for plotting
color = sns.color_palette()
sns.set_style('darkgrid')

In [4]:
df_claims = pd.read_csv("./data/Claims.csv")
df_day_y2 = pd.read_csv("./data/DaysInHospital_Y2.csv")
df_day_y3 = pd.read_csv("./data/DaysInHospital_Y3.csv")
df_drug = pd.read_csv("./data/DrugCount.csv")
df_lab = pd.read_csv("./data/LabCount.csv")
df_lk_primary = pd.read_csv("./data/Lookup ProcedureGroup.csv")
df_lk_procedure = pd.read_csv("./data/Lookup ProcedureGroup.csv")
df_members = pd.read_csv("./data/Members.csv")
df_target = pd.read_csv("./data/Target.csv")

In [5]:
def show_stt(df):
    print("Shape: ", df.shape)
    print("Dtypes: ", df.dtypes)
    print("Describe: \n", df.describe())
    print("Sample: \n", df.sample(5))
    print("Unique value: ")
    ls = list(filter(lambda i : df[i].dtype == 'object', list(df.columns)))
    for i in ls:
        print("[{}]: {}".format(i, df[i].unique()))

In [6]:
show_stt(df_claims)

Shape:  (2668990, 14)
Dtypes:  MemberID                   int64
ProviderID               float64
Vendor                   float64
PCP                      float64
Year                      object
Specialty                 object
PlaceSvc                  object
PayDelay                  object
LengthOfStay              object
DSFS                      object
PrimaryConditionGroup     object
CharlsonIndex             object
ProcedureGroup            object
SupLOS                     int64
dtype: object
Describe:
            MemberID    ProviderID        Vendor           PCP        SupLOS
count  2.668990e+06  2.652726e+06  2.644134e+06  2.661498e+06  2.668990e+06
mean   4.998824e+07  5.070900e+06  3.806974e+05  5.133819e+04  4.245801e-03
std    2.892240e+07  2.868035e+06  2.729317e+05  2.920591e+04  6.502135e-02
min    4.000000e+00  4.720000e+02  3.900000e+01  7.400000e+01  0.000000e+00
25%    2.480119e+07  2.467684e+06  1.526100e+05  2.746700e+04  0.000000e+00
50%    4.992606e+07  5.442161e+06  2.518090e+05  4.799000e+04  0.000000e+00
75%    7.532789e+07  7.053364e+06  5.885440e+05  7.587600e+04  0.000000e+00
max    9.999882e+07  9.999241e+06  9.998740e+05  9.990500e+04  1.000000e+00
Sample:
          MemberID  ProviderID    Vendor      PCP Year         Specialty  \
1496133  79965949   3449013.0   72527.0    907.0   Y3        Pediatrics
553107   17989847   7053364.0  240043.0  94891.0   Y3        Laboratory
2177592  30812617   6083041.0  140343.0  30569.0   Y2          Internal
2127244  40680091   9387258.0  346216.0  66621.0   Y1  General Practice
1899312  63847432   4107701.0  164823.0  32724.0   Y1        Laboratory

                   PlaceSvc PayDelay LengthOfStay          DSFS  \
1496133  Inpatient Hospital       46          NaN   6- 7 months
553107      Independent Lab       21          NaN   1- 2 months
2177592              Office       28          NaN  10-11 months
2127244              Office       36          NaN   8- 9 months
1899312     Independent Lab       21          NaN   3- 4 months

        PrimaryConditionGroup CharlsonIndex ProcedureGroup  SupLOS
1496133               PERINTL             0             EM       0
553107                 RENAL3           1-2             PL       0
2177592                 ROAMI             0            MED       0
2127244               GIBLEED             0             EM       0
1899312                SKNAUT           1-2             PL       0
Unique value:
[Year]: ['Y1' 'Y3' 'Y2']
[Specialty]: ['Surgery' 'Internal' 'Laboratory' 'Pediatrics' 'Rehabilitation'
 'Diagnostic Imaging' 'Anesthesiology' 'Emergency' 'General Practice'
 'Other' 'Obstetrics and Gynecology' 'Pathology' nan]
[PlaceSvc]: ['Office' 'Independent Lab' 'Outpatient Hospital' 'Inpatient Hospital'
 'Urgent Care' 'Ambulance' 'Home' nan 'Other']
[PayDelay]: ['28' '50' '14' '24' '27' '25' '162+' '29' '42' '56' '37' '51' '22' '21'
 '143' '62' '46' '31' '34' '16' '23' '48' '75' '17' '0' '84' '35' '41'
 '30' '148' '65' '45' '60' '18' '49' '15' '93' '74' '66' '26' '135' '9'
 '20' '112' '72' '36' '39' '63' '55' '53' '11' '88' '58' '136' '4' '47'
 '155' '43' '7' '71' '13' '8' '115' '70' '44' '57' '82' '59' '128' '103'
 '78' '3' '19' '80' '73' '32' '120' '79' '10' '94' '86' '38' '106' '85'
 '111' '133' '76' '122' '52' '127' '101' '67' '12' '81' '5' '92' '40'
 '140' '69' '64' '87' '105' '116' '61' '123' '89' '109' '134' '98' '114'
 '156' '68' '91' '90' '83' '126' '142' '144' '154' '118' '107' '54' '130'
 '150' '33' '108' '100' '99' '102' '161' '159' '97' '121' '95' '158' '77'
 '147' '157' '153' '104' '113' '141' '132' '152' '125' '110' '131' '145'
 '139' '137' '119' '129' '96' '117' '149' '6' '124' '146' '138' '160'
 '151' '2' '1']
[LengthOfStay]: [nan '1 day' '2- 4 weeks' '2 days' '3 days' '4 days' '1- 2 weeks'
 '4- 8 weeks' '6 days' '5 days' '26+ weeks']
[DSFS]: ['8- 9 months' '7- 8 months' '0- 1 month' '5- 6 months' '4- 5 months'
 '3- 4 months' '1- 2 months' nan '6- 7 months' '10-11 months'
 '11-12 months' '2- 3 months' '9-10 months']
[PrimaryConditionGroup]: ['NEUMENT' 'METAB3' 'FXDISLC' 'TRAUMA' 'RESPR4' 'INFEC4' 'MISCHRT'
 'ARTHSPIN' 'ROAMI' 'HEART2' 'MSC2a3' 'PNEUM' 'MISCL5' 'GIOBSENT' 'RENAL3'
 'GYNEC1' 'AMI' 'UTI' 'COPD' 'GIBLEED' 'HIPFX' 'SKNAUT' 'CANCRB' 'SEIZURE'
 'CHF' 'PRGNCY' 'METAB1' 'HEART4' 'ODaBNCA' 'HEMTOL' 'GYNECA' 'APPCHOL'
 'MISCL1' 'RENAL2' nan 'STROKE' 'PERVALV' 'CANCRA' 'CATAST' 'FLaELEC'
 'SEPSIS' 'LIVERDZ' 'PNCRDZ' 'RENAL1' 'CANCRM' 'PERINTL']
[CharlsonIndex]: ['0' '1-2' '3-4' '5+']
[ProcedureGroup]: ['MED' 'EM' 'SCS' 'RAD' 'ANES' 'SDS' 'PL' 'SIS' 'SMS' 'SGS' 'SEOA' 'SNS'
 nan 'SAS' 'SRS' 'SUS' 'SO' 'SMCD']

In [7]:
show_stt(df_day_y2)

Shape:  (76038, 3)
Dtypes:  MemberID           int64
ClaimsTruncated    int64
DaysInHospital     int64
dtype: object
Describe:
            MemberID  ClaimsTruncated  DaysInHospital
count  7.603800e+04     76038.000000    76038.000000
mean   4.994761e+07         0.052224        0.467095
std    2.890145e+07         0.222480        1.612194
min    2.100000e+02         0.000000        0.000000
25%    2.483719e+07         0.000000        0.000000
50%    4.990721e+07         0.000000        0.000000
75%    7.510112e+07         0.000000        0.000000
max    9.999863e+07         1.000000       15.000000
Sample:
        MemberID  ClaimsTruncated  DaysInHospital
67662   3507042                0               0
17102  35805415                0               0
42624  89205733                1               0
29574  70509840                0               0
73107  85373499                0               0
Unique value:

In [8]:
show_stt(df_day_y3)

Shape:  (71435, 3)
Dtypes:  MemberID           int64
ClaimsTruncated    int64
DaysInHospital     int64
dtype: object
Describe:
            MemberID  ClaimsTruncated  DaysInHospital
count  7.143500e+04     71435.000000    71435.000000
mean   4.993986e+07         0.056611        0.437895
std    2.894077e+07         0.231099        1.531780
min    4.000000e+00         0.000000        0.000000
25%    2.477813e+07         0.000000        0.000000
50%    4.995379e+07         0.000000        0.000000
75%    7.521986e+07         0.000000        0.000000
max    9.999882e+07         1.000000       15.000000
Sample:
        MemberID  ClaimsTruncated  DaysInHospital
1432   91501361                0               0
54121  13734597                0               0
69170  69529282                0               0
12977  67711412                0               2
68630  73811167                0               1
Unique value:

In [9]:
show_stt(df_drug)

Shape:  (818241, 4)
Dtypes:  MemberID      int64
Year         object
DSFS         object
DrugCount    object
dtype: object
Describe:
            MemberID
count  8.182410e+05
mean   4.996952e+07
std    2.893926e+07
min    2.100000e+02
25%    2.480562e+07
50%    4.990342e+07
75%    7.526906e+07
max    9.999863e+07
Sample:
         MemberID Year          DSFS DrugCount
367384   3863422   Y2   5- 6 months         4
403129  90940623   Y1  10-11 months         2
164883  13919855   Y3   6- 7 months         2
44586    3348116   Y1   2- 3 months         1
333298  98843115   Y1   2- 3 months         3
Unique value:
[Year]: ['Y2' 'Y3' 'Y1']
[DSFS]: ['9-10 months' '8- 9 months' '2- 3 months' '1- 2 months' '10-11 months'
 '4- 5 months' '6- 7 months' '7- 8 months' '0- 1 month' '3- 4 months'
 '11-12 months' '5- 6 months']
[DrugCount]: ['7+' '3' '1' '4' '2' '5' '6']

In [10]:
show_stt(df_lab)

Shape:  (361484, 4)
Dtypes:  MemberID     int64
Year        object
DSFS        object
LabCount    object
dtype: object
Describe:
            MemberID
count  3.614840e+05
mean   5.001794e+07
std    2.895612e+07
min    2.100000e+02
25%    2.475847e+07
50%    4.995531e+07
75%    7.537901e+07
max    9.999882e+07
Sample:
         MemberID Year          DSFS LabCount
302154  56015707   Y3   3- 4 months        4
355275  35888849   Y1  10-11 months        3
61100   28069002   Y3    0- 1 month        1
162600  55296427   Y1   5- 6 months      10+
229948  66053726   Y3    0- 1 month        6
Unique value:
[Year]: ['Y3' 'Y1' 'Y2']
[DSFS]: ['2- 3 months' '0- 1 month' '6- 7 months' '3- 4 months' '7- 8 months'
 '4- 5 months' '10-11 months' '8- 9 months' '1- 2 months' '5- 6 months'
 '9-10 months' '11-12 months']
[LabCount]: ['1' '2' '6' '4' '5' '3' '8' '10+' '7' '9']

In [11]:
show_stt(df_lk_procedure)

Shape:  (17, 2)
Dtypes:  ProcedureGroup    object
Description       object
dtype: object
Describe:
        ProcedureGroup             Description
count              17                      17
unique             17                      17
top                EM  Surgery-Genital System
freq                1                       1
Sample:
    ProcedureGroup                   Description
5             SAS       Surgery-Auditory System
9             SGS        Surgery-Genital System
1              EM     Evaluation and Management
13            SNS        Surgery-Nervous System
10            SIS  Surgery-Integumentary System
Unique value:
[ProcedureGroup]: ['ANES' 'EM' 'MED' 'PL' 'RAD' 'SAS' 'SCS' 'SDS' 'SEOA' 'SGS' 'SIS' 'SMCD'
 'SMS' 'SNS' 'SO' 'SRS' 'SUS']
[Description]: ['Anesthesia' 'Evaluation and Management' 'Medicine'
 'Pathology and Laboratory' 'Radiology' 'Surgery-Auditory System'
 'Surgery-Cardiovascular System' 'Surgery-Digestive System'
 'Surgery-Eye and Ocular Adnexa' 'Surgery-Genital System'
 'Surgery-Integumentary System' 'Surgery-Maternity Care and Delivery'
 'Surgery-Musculoskeletal System' 'Surgery-Nervous System' 'Surgery-Other'
 'Surgery-Respiratory System' 'Surgery-Urinary System']

In [12]:
show_stt(df_lk_primary)

Shape:  (17, 2)
Dtypes:  ProcedureGroup    object
Description       object
dtype: object
Describe:
        ProcedureGroup             Description
count              17                      17
unique             17                      17
top                EM  Surgery-Genital System
freq                1                       1
Sample:
    ProcedureGroup                     Description
12            SMS  Surgery-Musculoskeletal System
8            SEOA   Surgery-Eye and Ocular Adnexa
5             SAS         Surgery-Auditory System
16            SUS          Surgery-Urinary System
0            ANES                      Anesthesia
Unique value:
[ProcedureGroup]: ['ANES' 'EM' 'MED' 'PL' 'RAD' 'SAS' 'SCS' 'SDS' 'SEOA' 'SGS' 'SIS' 'SMCD'
 'SMS' 'SNS' 'SO' 'SRS' 'SUS']
[Description]: ['Anesthesia' 'Evaluation and Management' 'Medicine'
 'Pathology and Laboratory' 'Radiology' 'Surgery-Auditory System'
 'Surgery-Cardiovascular System' 'Surgery-Digestive System'
 'Surgery-Eye and Ocular Adnexa' 'Surgery-Genital System'
 'Surgery-Integumentary System' 'Surgery-Maternity Care and Delivery'
 'Surgery-Musculoskeletal System' 'Surgery-Nervous System' 'Surgery-Other'
 'Surgery-Respiratory System' 'Surgery-Urinary System']

In [13]:
show_stt(df_members)

Shape:  (113000, 3)
Dtypes:  MemberID            int64
AgeAtFirstClaim    object
Sex                object
dtype: object
Describe:
            MemberID
count  1.130000e+05
mean   4.987601e+07
std    2.890233e+07
min    4.000000e+00
25%    2.473595e+07
50%    4.988244e+07
75%    7.500351e+07
max    9.999882e+07
Sample:
         MemberID AgeAtFirstClaim Sex
39695   98359437           50-59   F
84646   55585314             0-9   F
92398   64574075           50-59   M
86368   66340346           20-29   M
101236  14427998             0-9   F
Unique value:
[AgeAtFirstClaim]: ['70-79' '40-49' '0-9' '30-39' '50-59' '60-69' '10-19' '80+' '20-29' nan]
[Sex]: ['M' 'F' nan]

In [14]:
show_stt(df_target)

Shape:  (70942, 3)
Dtypes:  MemberID             int64
ClaimsTruncated      int64
DaysInHospital     float64
dtype: object
Describe:
            MemberID  ClaimsTruncated  DaysInHospital
count  7.094200e+04     70942.000000             0.0
mean   4.991530e+07         0.055933             NaN
std    2.893409e+07         0.229794             NaN
min    2.100000e+02         0.000000             NaN
25%    2.472547e+07         0.000000             NaN
50%    4.994500e+07         0.000000             NaN
75%    7.514558e+07         0.000000             NaN
max    9.999748e+07         1.000000             NaN
Sample:
        MemberID  ClaimsTruncated  DaysInHospital
70009  63525218                0             NaN
45714  64246235                0             NaN
10412   5261621                0             NaN
21145   7540740                0             NaN
34116  87514604                0             NaN
Unique value:

# DrugCount

In [16]:
show_stt(df_drug)

Shape:  (818241, 4)
Dtypes:  MemberID      int64
Year         object
DSFS         object
DrugCount    object
dtype: object
Describe:
            MemberID
count  8.182410e+05
mean   4.996952e+07
std    2.893926e+07
min    2.100000e+02
25%    2.480562e+07
50%    4.990342e+07
75%    7.526906e+07
max    9.999863e+07
Sample:
         MemberID Year         DSFS DrugCount
322344  64563799   Y1   0- 1 month         2
19767   26791527   Y3  3- 4 months         1
801016  43093076   Y2  2- 3 months         2
159224  56354483   Y1   0- 1 month         1
93764   66415715   Y2  4- 5 months         1
Unique value:
[Year]: ['Y2' 'Y3' 'Y1']
[DSFS]: ['9-10 months' '8- 9 months' '2- 3 months' '1- 2 months' '10-11 months'
 '4- 5 months' '6- 7 months' '7- 8 months' '0- 1 month' '3- 4 months'
 '11-12 months' '5- 6 months']
[DrugCount]: ['7+' '3' '1' '4' '2' '5' '6']

In [17]:
df_drug["MemberID"].nunique()

75998

In [18]:
df_drug.groupby("MemberID").count()

          Year  DSFS  DrugCount
MemberID
210          7     7          7
3197        11    11         11
3713         4     4          4
3741        11    11         11
3889        10    10         10
...        ...   ...        ...
99994536     2     2          2
99995391    18    18         18
99995554     5     5          5
99997485     2     2          2
99998627     1     1          1

[75998 rows x 3 columns]

In [26]:
 df_drug[(df_drug["MemberID"] == 99995554) & (df_drug["Year"] == "Y1")]

        MemberID Year         DSFS DrugCount
138925  99995554   Y1  5- 6 months         2
251064  99995554   Y1  9-10 months         1
591122  99995554   Y1  8- 9 months         4
723646  99995554   Y1  4- 5 months         1

In [27]:
df_lab[(df_lab["MemberID"] == 99995554) & (df_lab["Year"] == "Y1")]

        MemberID Year         DSFS LabCount
251428  99995554   Y1  5- 6 months        1
319762  99995554   Y1  2- 3 months        8
322307  99995554   Y1  9-10 months        2

In [32]:
df_claims[(df_claims["MemberID"] == 99995554) & (df_claims["Year"] == "Y1")]

,MemberID,ProviderID,Vendor,PCP,Year,Specialty,PlaceSvc,PayDelay,LengthOfStay,DSFS,PrimaryConditionGroup,CharlsonIndex,ProcedureGroup,SupLOS
95213,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,122,NaN,8- 9 months,SKNAUT,0,MED,0
294716,99995554,7053364.0,240043.0,1303.0,Y1,Laboratory,Independent Lab,27,NaN,5- 6 months,MISCHRT,0,SCS,0
355539,99995554,7053364.0,240043.0,1303.0,Y1,Laboratory,Independent Lab,31,NaN,0- 1 month,SKNAUT,0,SCS,0
457659,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,115,NaN,9-10 months,SKNAUT,0,MED,0
646263,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,139,NaN,7- 8 months,SKNAUT,0,MED,0
691182,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,146,NaN,6- 7 months,SKNAUT,0,MED,0
775879,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,120,NaN,9-10 months,SKNAUT,0,MED,0
843923,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,134,NaN,7- 8 months,SKNAUT,0,MED,0
869158,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,115,NaN,9-10 months,SKNAUT,0,MED,0
1177296,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,162+,NaN,5- 6 months,SKNAUT,0,MED,0
1255790,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,157,NaN,6- 7 months,SKNAUT,0,MED,0
1388349,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,119,NaN,8- 9 months,SKNAUT,0,EM,0
1517458,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,162+,NaN,5- 6 months,SKNAUT,0,MED,0
1633747,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,146,NaN,6- 7 months,SKNAUT,0,MED,0
1641029,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,148,NaN,5- 6 months,SKNAUT,0,MED,0
1667296,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,157,NaN,7- 8 months,SKNAUT,0,EM,0
1727822,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,125,NaN,8- 9 months,SKNAUT,0,MED,0
1731203,99995554,8205004.0,722361.0,1303.0,Y1,General Practice,Office,90,NaN,4- 5 months,MISCHRT,0,EM,0
2094978,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,150,NaN,6- 7 months,SKNAUT,0,MED,0
2182916,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,139,NaN,7- 8 months,SKNAUT,0,MED,0
2185435,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,128,NaN,9-10 months,SKNAUT,0,MED,0
2185467,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,136,NaN,7- 8 months,SKNAUT,0,MED,0
2197215,99995554,7053364.0,240043.0,1303.0,Y1,Laboratory,Independent Lab,30,NaN,9-10 months,SKNAUT,0,PL,0
2221211,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,146,NaN,6- 7 months,SKNAUT,0,MED,0
2226123,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,157,NaN,7- 8 months,SKNAUT,0,MED,0
2259894,99995554,7053364.0,240043.0,1303.0,Y1,Laboratory,Independent Lab,27,NaN,5- 6 months,MISCHRT,0,PL,0
2323786,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,113,NaN,9-10 months,SKNAUT,0,MED,0
2339755,99995554,7053364.0,240043.0,1303.0,Y1,Laboratory,Independent Lab,23,NaN,2- 3 months,METAB3,0,SCS,0
2396764,99995554,7053364.0,240043.0,1303.0,Y1,Laboratory,Independent Lab,30,NaN,9-10 months,SKNAUT,0,SCS,0
2398031,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,141,NaN,6- 7 months,SKNAUT,0,MED,0
2402451,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,139,NaN,7- 8 months,SKNAUT,0,MED,0
2405729,99995554,8205004.0,722361.0,1303.0,Y1,General Practice,Office,29,NaN,5- 6 months,MISCHRT,0,EM,0
2454449,99995554,7053364.0,240043.0,1303.0,Y1,Laboratory,Independent Lab,23,NaN,2- 3 months,METAB3,0,PL,0
2470958,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,125,NaN,8- 9 months,SKNAUT,0,MED,0
2472973,99995554,8511459.0,64764.0,1303.0,Y1,Internal,Office,148,NaN,6- 7 months,SKNAUT,0,MED,0